<!DOCTYPE html>
<html lang="en">
<head>

     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8" />
        <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<title>Jame_Jam</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<style>
    .navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
#logo {
    width: 150px;
    height: auto;
    border-top: none;
}
.box {	border:1px solid grey;
background-color:#d3d3d3;

}

    .large{
     font-size: 200%;
    }
    .login{
        padding-top: 25px;
    }
    ul{
        list-style-type: none;
    }
  .info{
      border-collapse: collapse;
      text-align: right;
          margin-top: 10%;
  }
    .row{
        alignment:center;
        background-color: blue;
    }
    .status{
        background-color: #8ABBD0;
        text-align: center;
    }
.footer{
    float:right;
    border-top: 10px;
}
    h2{
        text-align: center;
    }
    textarea{
        overflow-y: scroll;
    }
    .infoBox{
        text-align: right;
        alignment: center;
    }
    #x{
        width: 70px;
        background-color:#8ABBD0;
        color: #ffffff;
    }
    progress{
        position: relative;
        bottom: 10px;
        z-index: 1;
        width: 160px;
    }
    progress::-moz-progress-bar { background: #418B7E; }
    progress::-webkit-progress-bar { background: #418B7E; }
    progress::-webkit-progress-value { background: #418B7E; }

    .progressIndex{
        font-size: x-small;
        position: relative;
        top: 25px;
        left:5px;
        z-index: 2;
    }
    #footerPart{
        padding-top: 5px;
    }
</style>
</head>
<body>


<div class="navbar navbar-default">

<div class="container">

<div class="navbar-header">

<a href="index.html" class="navbar-brand"><img id="logo" src="img/imageedit_2_6147829167.bmp"></a>

</div>

               <form class="navbar-form navbar-right login" >
                   <table>
                       <tr>
                           <td><p>welcome userTTF </p></td>
                           <td> &nbsp &nbsp</td>
                           <td>
                               <span id="icon" class="glyphicon glyphicon-cog large" aria-hidden="true"></span>
                           </td>
                       </tr>
                   </table>
          </form>
</div>
    </div>
<!--<div class="container">-->
<!--<table class="table table-bordered centerTable">-->
    <!--<tr>-->
        <!--<td>-->
    <div class="alert alert-warning" role="button">connect</div>
    <div class="row">
         <div class="col-md-5 box">
                     <h2 class="panel-heading">STATUS</h2>
    <div class="box status">

<table>
    <tr>
        <td><label for="ID">CHW OutLet Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
          <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
        <progress value="50" max="100"></progress>
        </td>


    </tr>
     <tr>
        <td><label for="ID">Dilution Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
         <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress aria-label="123" value="50" max="100"></progress>
        </td>
    </tr>
      <tr>
        <td><label for="ID">Ref. Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
          <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress value="50" max="100"></progress>
        </td>
    </tr>
     <tr>
        <td><label for="ID">HTW OutLet Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress value="50" max="100"></progress></td>
    </tr>
    <tr>
        <td><label for="ID">Valve Position </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress value="50" max="100"></progress></td>
    </tr>
        <tr>
        <td><label for="ID">CHW InLet Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress value="50" max="100"></progress></td>
    </tr>
    </tr>
        <tr>
        <td><label for="ID">HTW InLet Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress value="50" max="100"></progress></td>
    </tr>
        </tr>
        <tr>
        <td><label for="ID">COW InLet Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress value="50" max="100"></progress></td>
    </tr>
      <tr>
        <td><label for="ID">COW OutLet Temp </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'20<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'40<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'60<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'80<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100
        </p>
            <progress value="50" max="100"></progress></td>
    </tr>
      <tr>
        <td><label for="ID">Solution Temp  </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'200<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'300<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'400
        </p>
            <progress value="100" max="400"></progress></td>
    </tr>
      <tr>
        <td><label for="ID">Exhaust Temp  </label></td>
        <td><input  type="email" name="email" placeholder=" @@@@" id="x"/></td>
        <td>
             <p class="progressIndex">
            '0<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'100<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'200<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'300<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>'400
        </p>
            <progress value="100" max="400"></progress></td>
    </tr>
</table>

          <!--<form class="form-inline" role="form">-->

<!--<label for="ID">Exhaust Temp </label>-->
<!--<input class="form-control" type="text" name="email" placeholder=" @@@@" />-->
    <!--<div class="progress">-->
        <!--<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="400" style="width: 25%;"><span class="sr-only">60% Complete</span></div>-->
      <!--</div>-->

<!--</form>-->
           <!--<ul>-->
              <!--<li><button class="">Status</button></li>-->
       <!--<li><button>Setting</button></li>-->
              <!--<li><button>Input/Output</button></li>-->
              <!--<li><button>others</button></li>-->
           <!--</ul>-->

</div>
        <div id="footerPart">
                <input  type="button" class="btn" value="start" />
          <input  type="button" class="btn" value="stop" />
                <footer class="footer">
        <p id="date"></p>
      </footer>
        </div>






         </div>

        <div class="col-md-5 box infoBox">

          <ul>
            <li> نام مجموعه<span>&nbsp : &nbsp</span><span class="info">مجتمع مسکونی معالی اباد شیراز</span></li>
              </br>
            <li> نام مالک<span>&nbsp : &nbsp</span><span class="info">؟؟؟؟؟؟؟؟؟؟</span></li>
                </br>
               <li> نام مسئول چیلر<span>&nbsp : &nbsp</span><span class="info">نامجو</span></li>
                </br>
              <li> تلفن مسئول چیلر<span>&nbsp : &nbsp</span><span class="info">0000000000</span></li>

           </ul>

</div>
    </div>
     <div class="form-group">
  <textarea class="form-control" rows="5" id="warning"></textarea>
<!--</div>-->










                   <!-- Jumbotron -->








      <!--&lt;!&ndash; Site footer &ndash;&gt;-->
      <!--<footer class="footer">-->
        <!--<p>&copy; Company 2014</p>-->
      <!--</footer>-->






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="jquery-2.1.4.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files
as needed -->
<script src="js/bootstrap.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
<script>
     $(document).ready(function(){
         $("#date").append(showDate());
     });

    function showDate(){
        var d = new Date(),
    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
    ampm = d.getHours() >= 12 ? 'pm' : 'am',
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
return days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;
    }
</script>
</body>
</html>